<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App with Bootstrap</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <div class="container mt-5">
        <h1 class="text-center">Business Logic</h1>
        <p class="text-center">BL for OA3 pricing demo.</p>

        <div class="d-flex flex-row justify-content-start">
            {% for card in cards %}
            <div class="card mb-4 mr-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title" style="color: {{ card.color }};">{{ card.title }}</h5>
                    <p class="card-text">{{ card.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <div class="container mt-5">
        <h2>Hourly Pricing</h2>
        <canvas id="loadChart2"></canvas>
    </div>
    <script>
        let myChart;

        async function fetchData() {
            const response = await fetch('/chart_data');
            return await response.json();
        }

        async function drawChart() {
            const chartData = await fetchData();

            if (myChart) {
                // Update existing chart data
                myChart.data.labels = chartData.labels;
                myChart.data.datasets = chartData.datasets;
                myChart.update({ duration: 0 });
            } else {
                const ctx = document.getElementById('loadChart2').getContext('2d');
                myChart = new Chart(ctx, {
                    type: 'line',
                    data: chartData,
                    options: {
                        responsive: true,
                        animation: false,
                        scales: {
                            x: { title: { display: true, text: 'time' } },
                            y: { title: { display: true, text: 'price ($/kWh)' } }
                        }
                    }
                });
            }
        }

        drawChart();
        setInterval(drawChart, 1000);
    </script>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
